<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head> 
<body>
    <div id="main-section">
        <header>
            <h1>Upload Excel File</h1>
        </header>
        <section class="content-section">
            <form method="post" action="/view" enctype="multipart/form-data">
                <input type="file" name="file" accept=".xlsx, .xls">
                <input type="submit" value="Upload">
            </form>
        </section>
    </div>
    <footer>
        <p>© 2023 Your Company. All rights reserved.</p>
    </footer>

    <header>
        <h1>Uploaded Data</h1>
    </header>
    <section class="data-section">
        <!-- Display the table -->
        {% if table %}
            {{ table|safe }}
        {% endif %}

        <!-- Display the bar plot -->
        {% if bar_plot_base64 %}
            <h2>Bar Plot</h2>
            <img src="data:image/png;base64, {{ bar_plot_base64 }}" width="600" height="400">
        {% endif %}

        <!-- Display the pie charts -->
        {% if pie_charts %}
            <h2>Pie Charts</h2>
            {% for column, pie_plot_base64 in pie_charts %}
                <h3>{{ column }}</h3>
                <img src="data:image/png;base64, {{ pie_plot_base64 }}" width="400" height="400">
            {% endfor %}
        {% endif %}
    </section>
</body>
</html>
