<!DOCTYPE html>
<html>
<head>
    <title>Visualization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 align="middle">Data uploaded</h1>
    <!-- Display the table -->
    {% if table %}
        {{ table|safe }}
    {% endif %}

    <!-- Display the bar plot -->
    {% if bar_plot_base64 %}
        <h2 align="middle">Bar Plot of the data uploaded</h2>
        <img src="data:image/png;base64, {{ bar_plot_base64 }}" width="600" height="400">
    {% endif %}

    <!-- Display the pie charts -->
    {% if pie_charts %}
        <h2 align="middle">Pie Chart of the data uploaded</h2>
        {% for column, pie_plot_base64 in pie_charts %}
            <h3 align="middle"><big>{{ column }}</big></h3>
            <img src="data:image/png;base64, {{ pie_plot_base64 }}" width="400" height="400">
        {% endfor %}
    {% endif %}
<div id="main-section">
</body>
</html>